{% extends 'computers/base.html' %}

{% block content %}
<div class="row justify-content-right">
        <div class="card card-body">
            <a class="btn btn-success w-25" href="{% url 'create_memory'%}">Create Memory</a>
        </div>
</div>
<div class="row justify-content-center">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Speed</th>
                <th scope="col">Type</th>
                <th scope="col">Modules</th>
                <th scope="col">CAS Latency</th>
                <th scope="col">Price</th>
                <th scope="col">Update</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for memory in memorys %}
            <tr>
                <th scope="col">{{ memory.name }}</th>
                <th scope="col">{{ memory.speed }}</th>
                <th scope="col">{{ memory.type }}</th>
                <th scope="col">{{ memory.modules_count }} x {{ memory.modules_memory}} GB</th>
                <th scope="col">{{ memory.cas_latency }}</th>
                <th scope="col">{{ memory.price }}</th>
                <th scope="col">
                    <a class="btn btn-warning" href="{% url 'update_memory' memory.id %}">Update</a>
                </th>
                <th scope="col">
                    <a class="btn btn-danger" href="{% url 'delete_memory' memory.id %}">Delete</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}